<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>
<body>
   <%- include('../includes/navigation.ejs') %>
   <main>

      <script>console.log('Pages', pages)</script>
      <% if (page.length > 0) { %>
         <% for (let pages of page) { %>
            <h1><%= pages.header %></h1>
         <% } %>
      <% } else { %>
         <h1>No page found!</h1>
      <% } %>

      <h1>Redigera sidor</h1>
      <h2>Logos mm</h2>
      <form class="admin-form" action="admin/admin" method="POST">
         <label for="">Logotyp</label>
         <input type="text">
         <input type="hidden" name="admin_id" value="0">
         <button type="submit">Skicka</button>
      </form>
      <h2>Startsidan</h2>
      <form class="admin-form" action="/admin/admin" method="POST">
         <label for="rubrik">Rubrik</label>
         <input type="text" name="header">
         <label for="text">Text</label>
         <textarea rows="4" cols="50" name="text"></textarea>
         <input type="hidden" name="admin_id" value="1">
         <button type="submit">Skicka</button>
      </form>
      <h2>Andra sidan</h2>
      <form class="admin-form" action="admin/admin" method="POST">
         <label for="">Rubrik</label>
         <input type="text">
         <input type="hidden" name="admin_id" value="2">
         <button type="submit">Skicka</button>
      </form>
      <h2>Tredje sidan</h2>
      <form class="admin-form" action="admin/admin" method="POST">
         <label for="">Rubrik</label>
         <input type="text">
         <input type="hidden" name="admin_id" value="3">
         <button type="submit">Skicka</button>
      </form>
      <h2>Fjärde sidan</h2>
      <form class="admin-form" action="admin/admin" method="POST">
         <label for="">Rubrik</label>
         <input type="text">
         <input type="hidden" name="admin_id" value="4">
         <button type="submit">Skicka</button>
      </form>
      <h2>Femte sidan</h2>
      <form class="admin-form" action="admin/admin" method="POST">
         <label for="">Rubrik</label>
         <input type="text">
         <input type="hidden" name="admin_id" value="5">
         <button type="submit">Skicka</button>
      </form>
      <h2>Sjätte sidan</h2>
      <form class="admin-form" action="admin/admin" method="POST">
         <label for="">Rubrik</label>
         <input type="text">
         <input type="hidden" name="admin_id" value="6">
         <button type="submit">Skicka</button>
      </form>
      <section class="pagination">
         <a href="/?page=1">1</a>
         <a href="/?page=2">2</a>
      </section>
   </main>
   <%- include('../includes/end.ejs') %>
